/* color variables 
to use: replace "color" with var(--color)
ex: 
    background-color: var(--yellow);
*/

@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Gaegu&family=Montserrat+Alternates:ital,wght@0,300;0,500;1,300&family=Montserrat:wght@400;500&display=swap');

:root{
    --teal: #177E89;
    --blue: #043673;
    --red: #BF1E2E;
    --yellow: #FDB515;
    --black: #323031;
}

/* GENERAL */

body {
    min-height:100vh;
    position:relative;
    padding-bottom: 6rem;
    padding-top:6rem;
    overflow-x: hidden;
}

.inline{
    display:inline;
}

#page-location a{
    color: black;
    text-decoration: none;
}

/* text colors */
.text-white{
    color:white;
}
.text-black{
    color:black;
}

/* typography */
h1 {
    font-weight: 700;
    font-size: 2em;
}

h1, h2, h3, h4, h5, p, figcaption, a {
    font-family: 'Montserrat', sans-serif;
}


/* navbar styling */
.nav-link, .nav-item {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    color: black;
    padding:10px 0px;
}

.nav-link {
    transition: all 0.4s;
    padding-bottom: 4px;
    border-bottom: 3px solid transparent;
}

.nav-link:hover,
.nav-link.active {
  border-bottom: 3px solid var(--yellow);
}

/* Exclude the dropdown icon from getting underline on hover */
.nav-link.dropdown-toggle.inline:hover {
  border-bottom: 3px solid transparent;
}

.navbar-style {
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    
}

.dropdown-item {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
    color: black;
}

 .dropdown-submenu {
    display: none;
    position: absolute;
    right: 100%;
    border-radius: 0;
}

.btn{
    background-color: rgba(0, 0, 0, 0);
    border-width: 0;
}


.dropdown-item{
    padding: 10px 10px;
}

/* footer styling */
.footer{
    background-color: white;
    position:absolute;
    bottom:0;
    border-top: solid 0.5px;
}

.social-logo{
    margin: 0px 8px;
}

.footer-text{
    margin-top: 3%;
    font-size: 0.75rem;
    margin-left: 1rem;
    padding: 0;
    margin-bottom:0;
}

.footer-subtext{
    font-size:0.6rem;
    margin-left:1rem;
    padding:0;
}

.buggydesc{
    padding-left:5%;
}

.social-logo{
    width:40px;
}

/****** HOMEPAGE ******/

/* intro image */
#hero{
    max-width: 100vw;
}

#raceday {
    position: absolute;
    top: 10px;
}


/* recent news section styling */
#recent-news .card-body a.btn {
    background-color: var(--teal);
    border-color: var(--teal);
}

#recent-news .card-body a.btn:hover {
    background-color:#13666f;
    border-color:#13666f;
}

#mailing-list p {
    font-weight: 900;
}

#mailing-list a {
    color: var(--teal);
}

#mailing-list a:hover {
    color: #0e4c52;
}

#recent-news .card {
    max-width: 300px;
    border-radius: 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

#recent-news .card-body h3 {
    font-size: 1.5em;
}

#recent-news .card-body p {
    color: var(--red);
    font-size: 1em;
}

/* connect section */
#connect .card {
    border-radius: 0;
    height: 100%;
}

#connect-card {
    background-color: var(--blue);
    color: white;
}

#involved-card {
    background-color: var(--teal);
    color: white;
}

#resources-card {
    background-color: var(--yellow);
    color: black;
}

#connect .card-body h4 {
    margin-top: 10%;
    font-weight: 700;
    font-size: 1.25em;
}

#connect-card p {
    margin-top: 15%;
    font-size: 1em;
}

#connect-card a {
    color: white;
    margin-top: 32%;
}

#involved-card a {
    color: white;
}

#resources-card p {
    margin-top: 10%;
    font-size: 1em;
    color: black;
}

#resources-card a {
    color: black;
}

/* what is buggy home section */
.carousel-inner{
    width: 100%;
    padding: 3%;
}

/****** BUGGY REFERENCE ******/
/* what is buggy*/
.caption{
    position: absolute;
    top:100%;
}
#whatisbuggy{
    padding-bottom:6rem;
}

/* why join styling */
#why-join {
    background-color:var(--yellow);
}

#why-join .card {
    max-width: 300px;
}

#why-join p {
    max-width: 600px;
}

.card-img-overlay .card-text {
    font-size: 0.75em;
    width: 90%;
    visibility: hidden;
    position: absolute;
}

/* involved and about section */
#who-is-involved {
    background-color: var(--teal);
    color: white;
}

#who-is-involved a {
    color: white;
}

#who-is-involved figcaption {
    font-size: 0.9em;
}

#involved-about .card {
    height: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

#involved-about p {
    color: white;
    font-size: 1em;
}

#about-the-race {
    background-color: var(--blue);
    color: white;
}

#about-the-race a {
    color: white;
}

/* buggy resources */
#buggy-resources a {
    color: black;
}

/****** RACEDAY ******/

/* raceday page categories */
#raceday-categories .card {
    max-width: 300px;
    border-radius: 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

#raceday-categories a {
    text-decoration: none;
}

#raceday-categories .card-body h3 {
    font-size: 1.5em;
    font-weight: bolder;
}

#raceday-categories .card-body p {
    margin-top: 5%;
    font-size: 1em;
    line-height: 2em;
}

#heat-schedule:hover {
    background-color: var(--red);
    transition: background-color 0.3s ease;
    color: white;
}

#leaderboard:hover {
    background-color: var(--teal);
    transition: background-color 0.3s ease;
    color: white;
}

#livestream:hover {
    background-color: var(--blue);
    transition: background-color 0.3s ease;
    color: white;
}

#chat:hover {
    background-color: var(--yellow);
    transition: background-color 0.3s ease;
}

/* raceday event schedule */

.nav-tabs button.nav-link{
    background-color: var(--blue);
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 0;
}

.nav-tabs .nav-item{
    padding: 0px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: var(--teal);
    color: white;
    border-width: 0px;
}

.tab-content {
    background-color: var(--teal);
}

#eventSchedule .card p.location {
    color: var(--red);
}

/****** MEDIA QUERIES ******/

@media (max-width:991px){
    .social-logo{
        width:20px;
    }
}

@media (max-width:576px){
    #connect-card a {
        margin-top: 0%;
    }

    #about-the-race {
        margin-top: 30%;
    }

    #buggy-resources p {
        margin-top: 20%;
    }
}

@media (max-width:761px) {
    #about-the-race {
        margin-top: 10%;
    }

    #buggy-resources p {
        margin-top: 20%;
    }
}

@media(min-width:991px){
    .footer-text{
        min-width:500px;
    }
    
    .dropdown-menu > li:hover > .dropdown-submenu {
        display: block;
        transform: translate(0, -40px);
    }
    .dropdown:hover > .dropdown-menu {
        display: block;
        margin-top: 0;
        border-radius: 0;
    }
}